<h1>Hello, {{town}} </h1>
{{#if user}}
    <a class="btn btn-primary" href="/newblog">New Blog</a>
    <a class="btn btn-primary" href="/newchannel">New Channel</a>
{{/if}}
<div class="blogs">
    <h1>Content</h1>
    {{#each data}}
  <div><a href="/{{this._id}}">{{this.title}}</a></div>
    {{else}}
  <p class="empty">No content</p>
    {{/each}}
</div>
<form action="/upload/image" method="post" enctype="multipart/form-data">
  <input type="file" name="pic" accept="image/*"> 
  <input type="submit">
</form>