<form method="post" action="/create/channel" id="blogfrom">
  <div class="form-group">
    <label for="blogtitle">Channel Name</label>
    <input type="text" class="form-control" id="blogtitle" name="channelname" placeholder="Enter blog title" maxlength="30">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" placeholder="Enter blog description">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>